@charset "UTF-8";

/*=== GERAL =================================*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');
@media (max-width: 425px){
    footer img{
    width: 425px !important;
    height: 67px !important;
    }

}
@media (max-width: 768px){
    *{
        margin: auto !important;
        overflow-x: hidden;
    }
    body{
        width: 100vw !important;
    }

    h2{
        font-size: 30px !important;
    }

    h3{
        font-size: 25px !important;
    }

    p{
        font-size: 10px !important;
    }

    #sidemenu{
        display: block;
        width: 100% !important;
        height: auto !important;
        position: relative !important;
    }

    #sidemenu img{
        display: none;
    }

    #slaca{
        width: 100% !important;
    }

    #cabecalho{
        flex-direction: column;
        height: 125px !important;
    }

    #lado-dir{
        align-items: space-between !important;

        width: 375px !important;
    }

    #login{
        margin-left: 0px !important;
    }

    #titulos{
        padding-left: 10px !important;
    }

    #titulos h4{
        font-size: 12px !important;
    }

    #titulos h1{
        font-size: 15px !important;
    }

    #inicio-corpo{
        flex-direction: column;

        width: 375px !important;
    }

    #inicio-corpo h1{
        width: 360px !important;
        font-size: 15px !important;
    }

    #btnIdioma{
        font-size: 10px !important;
        margin-left: 0px !important;
    }


    #videoApresentacao{
        width: 450px;
        height: 252px;

        margin-bottom: 10px !important;
    }
    
    #corpo #foto-side{
        display: flex;
        flex-direction: column;
    
        margin-top: 20px;
    }

    #corpo #sidebar{
        width: 375px !important;

        text-align: left !important;
    }

    #corpo #sidebar h3{
        width: 100% !important;
    }

    #resumo{
        width: 375px !important;

        margin-top: 20px!important;
        margin-bottom: 20px!important;
    }

    #discussoes{
        width: 375px !important;

        margin-bottom: 20px!important;
    } 
    
    #discussoes #conteudo-disc{
        width: 375px !important;
    }

    #discussoes #novoComent{
        width: 375px !important;
    }

    #discussoes #inserirDados{
        width: 375px !important;
    }

    #discussoes #inserirDados input{
        width: 375px !important;
    }

    #discussoes #inserirDados #botoesForm{
        width: 375px !important;
        margin-left: 0px !important;
        overflow: hidden !important;
    }

    #discussoes #inserirDados #botoesEsquerda{
        margin: 0px !important;
    }

    #discussoes #inserirDados #btnDir{
        margin: 0px !important;
        padding: 0px !important;
        overflow: hidden !important;
    }
    
    #discussoes .caixa-topico{
        width: 375px !important;
    }

    .caixa-topico .caixa-cabecalho{
        width: 375px !important;
    }

    .caixa-cabecalho h4{
        font-size: 15px !important;
    }

    .caixa-cabecalho h5{
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .caixa-topico .caixa-corpo{
        width: 375px !important;
    }

    .caixa-topico .caixa-botoes{
        width: 375px !important;
    }

    .caixa-topico .like-resp{
        font-size: 15px !important;

        width: 375px !important;
    }

    .caixa-topico #comentario{
        width: 375px !important;
    }

    #comentario h5{
        width: 250px;
        font-size: 13px !important;
    }

    #comentario p{
        font-size: 12px !important;
    }

    #comentario .caixa-resposta-autor{
        width: 375px !important;
    }

    #comentario .cr-autor-cabecalho{
        width: 375px !important;
        
    }


    #comentario .cra-cabecalho2{
        width: 375px !important;
        
    }

    footer img{
        width: 768px !important;
        height: 121px !important;
    }
    }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  
  :root {
    /* --primary-color: #FFB354;
    --secondary-color: #FDF1EB;
    --darker-primary: #965f1d;
     */
    
  
    --nav-height: 115px;
  }
  
  html {
    /* chrome://flags/#smooth-scrolling */
    scroll-behavior: smooth;
  }
  
  html,
  body {
    max-width: 100%;
    height: 100%;
    
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    
    text-align: center;
  
    background-color: white;
    /* overflow-x: hidden; */
  }
  main{
    margin-left: 250px;
  }

  footer{
      margin-top: 50px;
  }

button{
    cursor: pointer;
}
/*=== MENU =================================*/

#sidemenu{
    box-shadow: 1px 10px 8px #888888;
    width: 220px;
    height: 100%;
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    
    
}
#sidemenu #slaca{
    width: 220px;
    height: 68px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

#sidemenu #slaca h1{
    margin: auto;
    padding: 15px;
    font-family: 'Roboto';
    font-size: 30px;
    line-height: 35px;
  

    color: #FDF1EB;
}

#sidemenu #meusLinks{
    text-align: left;
    height: 100%;
}

#sidemenu #meusLinks li{
    padding: 7px 90px 7px 20px;

    border-bottom: 1px solid #E7E7E7;

    cursor: pointer;
}

#sidemenu #meusLinks li:hover{
    background-color: #FDF1EB;
}

#sidemenu #meusLinks li a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}

/*=== CABEÇALHO =================================*/
#cabecalho{
    display: flex;
    height: 68px;

    background-color: #FDF1EB;

    font-style: normal;
    padding-top: 5px;
}
#cabecalho #titulos{
    text-align: left;
    margin-left: 220px;
    padding-left: 25px;
}


#cabecalho h1, h4, p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400px;
    color: #725C5C;
    
}
#cabecalho h1{
    font-size: 22px;
}

#cabecalho h4{
    font-size: 14px;
}

#cabecalho p{
    font-size: 14px;
}

#cabecalho #lado-dir{
    display: flex;
    margin-left: 50px;
    
}
#lado-dir #btnIdioma{
    width: 97px;
    height: 34px;

    margin-top: 17px;

    background: none;

    border: 1px solid #CCCCCC;
    border-radius: 3px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
#cabecalho #lado-dir #login{
    display: flex;
    text-align: right;

    margin: 15px 0px 0px 60px;
}


#login .login-texto{
    margin-right: 10px;
}

/*=== CORPO DO SITE =================================*/
#corpo{
    margin-top: 20px;
}
#corpo h1{
    color: #ED7839;
    width: 680px;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 25px;

    text-align: left;
}

#corpo button{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;

    background-color: orange;
    border-radius: 4px;
    box-sizing: border-box;

    margin-right: 5px;

    height: 31px;
    width: 43px;
}

#corpo #download{
    width: 120px;
}

#corpo #inicio-corpo{
    display: flex;
}

#corpo #como-citar{
    margin-left: 150px;
}
#corpo #como-citar p{
    font-size: 16px;
    font-weight: bold;

    color: #ED7839;
    
    margin-top: 12px;
}

/*=== ÁREA DO VIDEO DE APRESENTAÇÃO E BARRA LETRAL =================================*/
#corpo #foto-side{
    display: flex;

    margin-top: 20px;
}

/*=== ÁREA DA BARRA LATERAL =================================*/
#corpo #sidebar{
    width: 242px;
    height: 439px;

    margin-left: 50px;
    

    border: 1px solid #ECECEC;

    text-align: left;
}

#corpo #sidebar ::-webkit-scrollbar {
    width: 5px;
    
    
}
#corpo #sidebar ::-webkit-scrollbar-thumb {
    background: #BFBFBF;  
    border-radius: 5px;
    }

#corpo #sidebar ::-webkit-scrollbar-track {
border: 1px solid #E7E7E7;
border-radius: 10px;
}

#corpo #sidebar h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 242px;

    padding: 11px 15px 9px 15px;

    color: #725C5C;
    background-color: #FDF1EB;
}
#corpo #sidebar #texto-side{
    height: 364px;
    overflow: auto;
    padding: 15px;
}
#corpo #sidebar p{
    font-size: 14px;
}

/*=== ÁREA DO CAMPO DE RESUMO =================================*/

#resumo{
    width: 1058px;

    margin-top: 19px;
    margin-bottom: 30px;

    text-align: left;

    border: 1px solid #ECECEC;
    border-radius: 3px;
}

#resumo a{
    color: #ED7839;

    font-weight: bold;

    text-decoration: none;
}

#resumo a:hover{
    text-decoration: underline;
}
#resumo h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 1058px;

    padding: 10px 15px 10px 15px;

    color: #725C5C;
    background-color: #FDF1EB;
}

#resumo .txtResumo{
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 23px;
}

/*=== ÁREA DO CAMPO DE DISCUSSÕES   =================================*/
#discussoes{
    width: 1058px;


    text-align: left;

    border: 1px solid #ECECEC;
    border-radius: 3px;
}

#discussoes #novoComent{
    display: none;
    width: 1058px;
    text-align: center;
    margin-top: 15px;
}

#discussoes #novoComent #inserirDados{
    width: 1058px;
    text-align: left;

    margin-left: 17px;
}

#discussoes #novoComent #inserirDados h4{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    margin-top: 10px;
}

#discussoes #novoComent #inserirDados input{
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}
#discussoes #novoComent #inserirDados #assunto{
    width: 1025px;
    height: 39px;
}

#discussoes #novoComent #inserirDados #txtComp{
    width: 1025px;
    height: 80px;
    
}

#discussoes #novoComent #inserirDados #botoesForm{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1025px;
    height: 31px;

    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 4px 4px;
}
#discussoes #novoComent #inserirDados #botoesForm{
    cursor: pointer;
}

#discussoes #novoComent #inserirDados #botoesForm #btnBold{
   margin: 0px 30px 5px 30px;
}

#discussoes #novoComent #inserirDados #botoesForm #btnIta{
    margin-bottom: 4px;
}

#discussoes #novoComent #inserirDados #botoesForm #btnEnviar{
    width: 205px;
    height: 31px;

    margin-bottom: 8px;

    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);

    border: none;
    border-radius: 0px 0px 4px 0px;

}

#discussoes h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: left;
    width: 1058px;

    padding: 10px 15px 10px 15px;

    color: #725C5C;
    background-color: #FDF1EB;
}
#discussoes h4{
    color: #ED7839;
}
#discussoes p{
    font-size: 14px;
    
}

#discussoes #conteudo-disc{
    width: 1058px;

    padding-top: 15px;
    padding-bottom: 27px;
    text-align: center;
}

#discussoes #conteudo-disc h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #ED7839;

}

#discussoes #conteudo-disc img{
    padding: 27px 54px 35px 27px;
}

#discussoes #conteudo-disc button{
    width: 150px;

    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;

    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
}

#discussoes .caixa-topico{
    width: 1028px;

    margin: 17px 15px;

    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    cursor: pointer;
}

#discussoes .caixa-topico .caixa-cabecalho{
    margin: 17px 24px 10px 25px;
}

#discussoes .caixa-topico .caixa-cabecalho h4{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #ED7839;
}


#discussoes .caixa-topico .caixa-cabecalho h5{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #5C5C5C;
}

#discussoes .caixa-topico .caixa-corpo{
    width: 980.67px;
    margin: 0px 25px 11px 24px;
}

#discussoes .caixa-topico .caixa-corpo p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #4D4D4D;
}

#discussoes .caixa-topico .caixa-botoes{
    display: flex;
    align-items: center;
}

#discussoes .caixa-topico .caixa-botoes .like-resp{
    font-size: 14px;
    margin-left: 15px;
}

#discussoes .caixa-topico .caixa-botoes button{
    background: none;

    border: none;
}

#comentario{
    display: none;
}
#comentario2{
    display: none;
}

#caixa_novo_coment{
    display: none;
}

.caixa-resposta-autor{
    width: 1010px;

    background: #F8F8F8;
    border: 1px solid #E7E7E7;
}

.cr-autor-cabecalho{
    display: flex;
    
}

.cra-cabecalho2{
    display: flex;
    align-items: center;
    margin-left: 650px;
}

.caixa-resposta-autor h5{
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    margin: 18px 23px 10px 23px;

    color: #5C5C5C;
}

.caixa-resposta-autor #autor {
    font-size: 18px;
    color: #ED7839;
}

.caixa-resposta-autor p{
    margin: 0px 23px 35px 23px;

    font-size: 14px;
    line-height: 18px;
}

.caixa-resposta-comum{
    width: 1010px;

    background: #ffffff;
    border: 1px solid #E7E7E7;
}

.caixa-resposta-comum h5{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    margin: 18px 23px 10px 23px;

    color: #5C5C5C;
}

.caixa-resposta-comum p{
    margin: 0px 23px 35px 23px;

    font-size: 14px;
    line-height: 18px;
}
